* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: green;
}

#form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

#toDo {
  display: none;
}

#toDoMod {
  display: none;
}
